body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: 'proxima_nova_ltthin', Georgia, sans-serif;
}

#login-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#anonymous-direct-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.DirectLoginLoader {
  animation: rotate 1s infinite;
  height: 100px; /* Increased height */
  width: 100px; /* Increased width */
  margin-bottom: 20px; /* Add margin to separate from the text */
}

.DirectLoginLoader:before,
.DirectLoginLoader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 40px; /* Increased height */
  width: 40px; /* Increased width */
}

.DirectLoginLoader:before {
  animation: ball1 1s infinite;
  background-color: #000;
  box-shadow: 60px 0 0 #007bff; /* Adjusted box-shadow */
}

.DirectLoginLoader:after {
  animation: ball2 1s infinite;
  background-color: #007bff;
  box-shadow: 60px 0 0 #000; /* Adjusted box-shadow */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 60px 0 0 #007bff; /* Adjusted box-shadow */
  }
  50% {
    box-shadow: 0 0 0 #007bff;
    margin-bottom: 0;
    transform: translate(30px, 30px); /* Adjusted translation */
  }
  100% {
    box-shadow: 60px 0 0 #007bff; /* Adjusted box-shadow */
    margin-bottom: 20px; /* Adjusted margin */
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 60px 0 0 #000; /* Adjusted box-shadow */
  }
  50% {
    box-shadow: 0 0 0 #000;
    margin-top: -40px; /* Adjusted margin */
    transform: translate(30px, 30px); /* Adjusted translation */
  }
  100% {
    box-shadow: 60px 0 0 #000; /* Adjusted box-shadow */
    margin-top: 0; /* Adjusted margin */
  }
}

.captcha-container{
  margin-top: 2rem;
}

.processing-text{
  text-align: center;
}