body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: 'proxima_nova_ltthin', Georgia, sans-serif;
}

#login-container {
  text-align: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-container {
  position: relative;
  overflow: hidden; /* Ensures the overflow is hidden for animation */
}

.input-field {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: transform 0.5s ease; /* Define the transition property */
}

.login-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button:active {
  background-color: #004080;
}
#password-field {
  display: none;
}

#password-field.active {
  display: block;
}

#password-button {
  display: none;
}

#password-button.active {
  display: block;
}

.loader {
  width: 64px;
  height: 44px;
  position: relative;
  border: 5px solid #000000;
  border-radius: 8px;
}
.loader::before {
  content: "";
  position: absolute;
  border: 5px solid #000000;
  width: 32px;
  height: 28px;
  border-radius: 50% 50% 0 0;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}
.loader::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
  box-shadow: 16px 0 #000, -16px 0 #000;
  animation: flash 0.4s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 16px 0 rgba(255, 255, 255, 0.25), -16px 0 rgb(0, 0, 0);
  }
  50% {
    background-color: rgb(0, 0, 0);
    box-shadow: 16px 0 rgba(255, 255, 255, 0.25),
      -16px 0 rgba(255, 255, 255, 0.25);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 16px 0 rgb(0, 0, 0), -16px 0 rgba(255, 255, 255, 0.25);
  }
}
