{% extends "chat/Base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/chat/waiting_room.css' %}">
<div class="text-center">
    <h1 id="waiting_text">Waiting for <u>{{friend}}</u> to connect</h1>
</div>
<div id="loader-position">
    <span class="loader"></span>
    <div>
        <button class="btn-lg btn-primary back-btn" onclick="goback();"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/chat/waiting_room.js' %}"></script>

{% endblock %}