.p, h1, h2, h3, h4, h5, h6, small{
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

.circle-icon {
  background: #badcf3;
  padding: 20px;
  border-radius: 60%;
}

/* Show only navbar, nothing else on mobile device */

@media (max-width: 768px) {
  .main {
    display: none;
  }
}

/* make the navbar full sized in mobile device */
@media (max-width: 768px) {
  .sidenav {
    width: 100%;
  }
  /* replace menubar button with add friend icon */
  .dropdown {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  /* hide mobile menu in all those devices, which are not mobile */
  @media (max-width: 768px) {
    .mobile-menu {
      display: inline;
    }
  }

  @media (min-width: 600px) {
    .mobile-menu {
      display: none;
    }
  }
}

.text-center {
  text-align: center;
}

.greet{
  margin-top: 15vh; 
  text-align: center;
}

.greet-tagline{
  margin-top: 25vh; 
  text-align: center
}

.built-credit{
  margin-top: 43vh; 
  text-align: center
}

.add-user-input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 14px;
  background-color: #fff;
}

.add-user-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

small {
  display: block;
  margin-bottom: 5px;
  color: #888;
}

textarea.add-user-input {
  height: 100px;
  resize: vertical;
}

#adduserbutton {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 25px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#adduserbutton:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 5px rgba(0, 91, 179, 0.3);
}

.top-nav-header{
  color: rgb(180, 237, 232);
  padding-left: 7vh;
  display: block-content;
  text-align: center;
}

.top-nav-list{
  border: none; 
  background-color: transparent;
}

#delete-friend{
  padding: 1.8rem 0rem 0rem 0rem;
  color: rgb(255, 91, 91);
  cursor: pointer;
}
#profile-link{
  text-decoration: underline;
  cursor: pointer;
}