.p, h1, h2, h3, h4, h5, h6, small{
  font-family: 'Proxima Nova', Georgia, sans-serif;
}


.logged-in {
  color: rgb(249, 217, 91);
  font-size: 0.7em;
  animation: fade 1s ease-in-out infinite alternate;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.MessageSendLoader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.4s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.messageloader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #000;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}

#MessageDestroy {
  margin-top: 1rem;
  
}
/* Base styling for the select container */
.select {
    position: relative;
    display: inline-block;

    margin-bottom: 20px;
    font-family: 'proxima_nova_ltthin', Georgia, sans-serif !important;
  }

/* Styling for the label */
.select label {
    font-size: 14px;
    color: #495057;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
}

/* Styling for the select element */
.select select {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

/* Hover and focus states for the select element */
.select select:hover {
    border-color: #007bff;
}

.select select:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Disabled state for the select element */
.select select:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

/* Styling for the options */
.select select option {
    padding: 10px;
}

/* Adding an arrow icon to the dropdown */
.select::after {
    content: '\25BC';
    /* Down arrow */
    position: absolute;
    top: 50%;
    right: 5px;
    pointer-events: none;
    transform: translateY(-50%);
    color: #495057;
    font-size: 13px;
}

/* Custom dropdown styling */
.select select {
    background-image: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.select select:hover {
    background-color: #f1f1f1;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.select select:focus {
    background-color: #e9ecef;
}

/* Custom styling for the select element in disabled state */
.select select:disabled {
    background-color: #dcdcdc;
}

#live-notification-text{
  display: inline;
}

.trash-messages{
  cursor: pointer; 
  color:rgb(200, 57, 57); 
  text-align: right; 
  margin-bottom: 5vh;
}

.input-textarea{
  border-radius: 15px;
}

.send-button{
  border-radius: 50% !important;
  margin-top: 16px;
  height: 40px;
  
}