.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #002c76 #002c76 transparent;
    box-sizing: border-box;
    animation: rotation 0.7s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #0080bf #0080bf;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.3s linear infinite;
    transform-origin: center center;
  }
  
  #loader-position{
          margin-top: 2rem;
          margin-left: 50%;
  }
  
  #waiting_text{
      margin-top: 15rem;
      font-size: 2rem;
      color: #050d55;
      font-weight: bold;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      text-align: center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  .back-btn{
    margin-top:5rem; 
    border-radius: 50%;
    opacity: 0.8;
  }