{% extends "registration/Base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/registration/AnonymousDirectLogin.css' %}" />
<title>PrivatePing - Anonymous Direct Login</title>
</head>

<body>
  <form id="anonymous-direct-login-form">
    {% csrf_token %}
    <div id="login-container">
      <span class="DirectLoginLoader"></span>
      <h1 class="processing-text" id="processing">Checking Browser...</h1>
      <small>This temporary account will be deleted once you Logout.</small>
      <div class="captcha-container">
        {{ form.hcaptcha }}
      </div>
      <input name="action" type="hidden" value="create" />
    </div>
  </form>

  <script type="text/javascript" src="{% static 'js/registration/AnonymousDirectLogin.js' %}"></script>
  {% endblock %}