{% extends 'base.html' %} {% block title %}Anonymous Direct Login{%endblock %}
{% load static %} {% block content %}

<div id="login-form">
  {% csrf_token %}
  <span class="DirectLoginLoader"></span>
  <h1 style="text-align: center" id="processing">Checking Browser...</h1>
  <small style="text-align: center"
    >This temporary account will be deleted, once you Logout.</small
  >
</div>

<script
  type="text/javascript"
  src="{% static 'js/registration/AnonymousDirectLogin.js' %}"
></script>
{% endblock %}
