{% extends "registration/Base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/registration/GenerateKeys.css' %}">
<title>PrivatePing - Securing Session</title>
</head>

<body>
  <div id="login-container">
    <div id="login-form">
      <span class="loader"></span>
      <h1 id="processing">Generating Secure Keypair...</h1>
    </div>
  </div>
    <script type="text/javascript" src="{% static 'js/registration/GenerateKeys.js' %}"></script>

{% endblock %}