{% extends "registration/Base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/registration/Login.css' %}">
<title>PrivatePing - Login</title>
</head>

<body>
    <span id="pageloader" class="pageloader"></span>
    <div id="Maincontent">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="100%" height="100%" viewBox="0 0 1600 900" preserveAspectRatio="xMidYMax slice">
            <defs>
                <linearGradient id="bg">
                    <stop offset="0%" style="stop-color:rgba(130, 158, 249, 0.06)"></stop>
                    <stop offset="50%" style="stop-color:rgba(76, 190, 255, 0.6)"></stop>
                    <stop offset="100%" style="stop-color:rgba(115, 209, 72, 0.2)"></stop>
                </linearGradient>
                <path id="wave" fill="url(#bg)" d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
	s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
            </defs>
            <g>
                <use xlink:href='#wave' opacity=".3">
                    <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="10s"
                        calcMode="spline" values="270 230; -334 180; 270 230" keyTimes="0; .5; 1"
                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                </use>
                <use xlink:href='#wave' opacity=".6">
                    <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="8s"
                        calcMode="spline" values="-270 230;243 220;-270 230" keyTimes="0; .6; 1"
                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                </use>
                <use xlink:href='#wave' opacty=".9">
                    <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="6s"
                        calcMode="spline" values="0 230;-140 200;0 230" keyTimes="0; .4; 1"
                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                </use>
            </g>
        </svg>


        <div class="login-container" id="login-container">
            <h1 class="antiquewhite">PrivatePing - Login</h1>
            <div id="login-form">
                <img src="{% static 'images/user/login.gif' %}" alt="Loading" id="loading-gif" height="40%" width="40%">
                <h1 class="antiquewhite" id="processing"></h1>
                <form id="LoginForm" method="post">{% csrf_token %}
                    <div id="username-form">
                        <div class="input-container">
                            <input type="text" class="input-field input-field-1" id="username" name="username"
                                placeholder="Username">
                            <button class="login-button" id="username-button">&rarr;</button>
                        </div>
                    </div>
                    <div id="password-field">
                        <div class="input-container">
                            <input type="password" class="input-field input-field-2" id="password" name="password"
                                placeholder="Password">
                            <button type="submit" class="login-button" id="login-button"><span>&#10003;</span></button>
                        </div>
                    </div>
                    {% if error %}
                    <div class="error-message" id="error-field">Invalid
                        username or password!</div>
                    {% endif %}
            </div>
            </form>
            <p class="error-message" id="err_mssg"></p>
            <p class="fact-title">Do you know?</p>
            <small class="  ">{{fact}}</small>
            <div>
                <button class="btn-lg btn-primary back-btn" onclick="goback();"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/registration/Login.js' %}"></script>
    {% endblock %}